
bigMap.Rcheck
.Rproj.user

package/.Rproj.user
package/.Rhistory
package/.RData
package/.Ruserdata
package/Rplots.pdf
package/package.Rproj
package/.Rbuildignore
package/bigMap.Rproj

examples/Primes1G/P1G_100000X.RData

